@import url("https://fonts.googleapis.com/css?family=Cantarell:italic|Droid+Serif:bold");
@import url("https://fonts.googleapis.com/css?family=Poppins:wght@400;600&display=swap");
*{
    margin: 0;
    padding: 0;
    border: none;
    outline: none;
    box-sizing: border-box;
    font-family: "Poppins", sans-serif;
}
body{
    display: flex;    
}
.sidebar{
    position: sticky;
    top: 0;
    left: 0;
    bottom: 0;
    width: 110px;
    height: 100vh;
    padding: 0 1.2rem;
    color: #fff;
    overflow: hidden;
    transition: all 0.5s linear;
    background: rgba(113, 99, 186, 255);
}
.sidebar:hover{
    width: 260px;
    transition: 0.5s;
}
.logo{
    height: 80px;
    padding: 16px;
}
.menu{
    height: 85%;
    position: relative;
    list-style: none;
    padding: 0;
}
.menu li{
    padding: 1rem;
    margin: 8px 0;
    border-radius: 15px;
    transition: all 0.5s ease-in-out;
} 
.menu li :hover, .active{
    background: #e0e0e5;
    border-radius: 15px;
    margin: 6px 0;
    padding: 0.5rem;
}
.menu a{
    color: #fff;
    font-size: 14px;
    text-decoration: none;
    display: flex;
    align-items: center;
    gap: 1.5rem;
}
.menu a span{
    overflow: hidden;
    font-size: 1rem;
}
.logout{
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
}

/* main body section */
.maincontent{
    position: relative;
    background: #ebe9e9;
    /* background: #f04b4b; */
    width: 100%;
    padding: 10px;    
     
}
.headerwrapper img{
    width: 50px;
    height: 50px;
    cursor: pointer;
    border-radius: 50%;
}
.headerwrapper{
    position: sticky;
     display: flex;    
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap; 
    background: #fff;
    border-radius: 10px;
    padding: 10px 2rem;
    margin-bottom: 1rem;
}
.headertitle{
    color: rgba(113, 99, 186, 255);
}
.userinfo{
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 1rem;
}
.searchbox{
    background: rgb(237, 237, 237);
    border-radius: 16px;
    color: rgba(113, 99, 186, 255);
    display: flex;
    align-items: center;
    gap: 10px;
    padding: 4px 12px;
}
.searchbox input{
    background: transparent;
    padding: 10px;
}
.searchbox i{
    font-size: 1.2rem;
    cursor: pointer;
    transition: 0.5s ease-out;
}
.searchbox i :hover{
    transform: scale(1.2);
}
 
/* card containers */

.cardcontainer{
    background: #fff;
    padding: 2rem;
    border-radius: 10px;
}
.maintitle{
    color: rgba(113, 99, 186, 255);
    padding-bottom: 10px;
    font-size: 25px;
    
}
.cardwrapper{
    display: flex;
    flex-wrap: wrap;
    gap: 1rem;
}
.paymentcard{
    background-color: rgb(299, 233, 233);
    border-radius: 12px;
    width: 350px;
    padding: 1.2rem;
    height: 160px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    transition: all 0.5s ease-in-out;
    box-shadow: 0 10px 20px rgba(0, 0, 0, 6);
}
.paymentcard:hover{
    transform: translateY(-8px);
}
.cardheader{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 10px;
}
.amount{
    display: flex;
    flex-direction: column;
}
.title{
    font-size: 24px;
    font-weight: 700;
    color: rgba(113, 99, 186, 255);
}
.amountvalue{
    font-size: 28px;
    font-weight: 800;
    color: rgba(113, 99, 186, 255);
    box-shadow: 0 15px 20px rgba(0, 0, 0, 9);
}
.icon{
    color: #fff;
    padding: 1rem;
    height: 60px;
    width: 60px;
    text-align: center;
    border-radius: 50%;
    font-size: 1.5rem;
    background: red;
}
.card_detail{
    font-size: 14px;
    color: #777;
    font-weight: 400;
    letter-spacing: 1px;
    font-family: 'Courier New', Courier, monospace;
}

/* colors on css */
.light_red{
    background: rgb(251, 233, 233);
}
.light_purple{
    background: rgb(254, 226, 254);

}
.light_green{
    background: rgb(235, 254, 235);
}
.light_blue{
    background: rgb(236, 236, 254);
}
.dark_red{
    background: red;
}
.dark_purple{
    background: purple;
}
.dark_blue{
    background: blue;
}
.dark_green{
    background: green;
}
.dark_red{
    background: red;
}

/* tabule css secstion */
.tabularwrapper{
    background: #fff;
    margin-top: 2rem;
    border-radius: 10px;
    padding: 2rem;
}
.maintitle{
    color: rgba(113, 99, 186, 255);
    font-size: 16px;
}
table{
    width: 100%;
    border-collapse: collapse;
}
thead{
    background: rgba(113, 99, 186, 255);
    color: #fff;
}
th{
    padding: 15px;
    text-align: left;
}
tbody{
    background: #f2f2f2;
}
td{
    padding: 15px;
    font-size: 14px;
    color: #334;
    
}
td:nth-child(even){
    background: #fff;
}
tfoot{
    background: rgba(113, 99, 186, 255);
    font-weight: bold;
    color: #fff;
}
tfoot td{
    padding: 15px;
    color: #fff;
}
.tablecontainer button{
    color: green;
    background: none;
    cursor: pointer;
}